body {
  background: rgb(135, 173, 245);
}
.form {
  margin: 50px auto;
  width: 300px;
  padding: 30px 25px;
  background: rgb(178, 196, 240);
}
.home-form {
  text-align: center;
  margin: 50px auto;
  width: 300px;
}
h1.login-title {
  color: rgb(43, 40, 40);
  margin: 0px auto 25px;
  font-size: 25px;
  font-weight: 300;
  text-align: center;
}
.container-fluid {
  text-align: center;
  margin-top: 50px;
}

.container .form .text-center img{
  margin: 50px 0px 50px 0px;
}

.rounded {
  margin: 50px 0px 50px 0px;
}
.login-input {
  font-size: 15px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 25px;
  height: 25px;
  width: calc(100% - 23px);
}
.login-input:focus {
  border-color:#6e8095;
  outline: none;
}
.login-button {
  color: #fff;
  background: #274468;
  border: 0;
  outline: 0;
  width: 100%;
  height: 50px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

h3 {
  font-weight: normal;
  text-align: center;
}
.shadow-sm {
  border: 1px solid #8e8f91;
  margin-bottom: 10px;
}
.card-body {
  background: rgb(178, 196, 240);

}

  /* header.php */
  /* this gets rid of the dropdown menu arrow that appears after the icon in the nav bar */
.dropdown-toggle::after {
  content: none;
}

/* style for the icon buttons in the nav bar*/
.dropdown-toggle {
  /* get rid of border outline and background color */
  border: none;
  background: transparent;
}

/* spacing between icons in nav bar */
i {
  width: 40px; /* space between the icons in the nav bar*/
}

/* when pointer hovers over the icons in the nav bar*/
.icon-bar i:hover {
  background-color: lightgrey;
}

/* shifts over dropdown menu to the left from being close to edge */
.dropdown-menu {
  margin-right: 5px;
}

/* bell icon in the nav bar */
.fa {
  /*position: relative;*/ /* allow to move the icon to the right of the nav bar*/
  /* display: flex; */
  align-items: center; /* allows the icon to be in the center horizontally/vertically */
  justify-content: center;
  /* width: 50%; */
  /* height: 50%; */
  border: none;
  outline: none;
  /* border-radius: 50%; */
  /* font-size: 120px; */
  
}

/* badge for the icons in nav bar */
.bell_badge {
  position: relative;
  top: -10px;
  right: 12px;
  padding: 1px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
  /* display: flex; */
  /* height: auto; */
  /* width: auto; */
  justify-content: center;
  align-items: center;
  /* display:none; */
  /* position: absolute; */
  /* top: 10px; */
  /* right: -1px; */
  /* background: red; */
  /* color: white; */
  /* height: 20px; */
  /* width: 20px; */
  /* display: flex;
  
  border-radius: 50%; */
}

/* set color of the status dot for new notifications */
.i {
  color: blue;
}
.i:hover {
  color: grey;
}

/* style for nav link (nav bar) */
.nav-link {
  border: none;
  background: none;
}

